<div id="map-canvas"> 
</div>
<div class="container-fluid contact"> 
  <%= render 'layouts/header' %>
  <div class="row vertical-center">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <!-- Call me maybe -->
      <div>
        <%= #form_for %>

      </div>
      <div id="myHome">
        
      </div>
      <div id="mySchool">
        
      </div>
      <div id="myBirthPlace">
        
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>