<div id="map-canvas"> 
</div>
<div class="container-fluid contact"> 
  <%= render 'layouts/header' %>
  <div class="row vertical-center">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      Call me maybe
      <div class="myHome">
        
      </div>
      <div class="mySchool">
        
      </div>
      <div class="myBirthPlace">
        
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>