<div class="container-fluid contact"> 
  <%= render 'layouts/header' %>
  <div class="row vertical-center">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      Call me maybe
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>