<div class="container-fluid gallery">
  <%= render 'layouts/header' %> 
  <div class="row vertical-center">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      Grid of pictures
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div> 
  
<!--   
  <div class="masthead segment">
    <div class="ui page grid">
      <div class="column">
        <div class="introduction">
          <h1 class="ui inverted header">
            <span class="text">Gallery</span>
          </h1>
          <div class="ui hidden divider"></div>
        </div>
      </div>
    </div>
  </div> 
  -->
