<div class="container-fluid gallery">
  <%= render 'layouts/header' %> 
  <div class="row vertical-center">
    <div class="col-sm-8 col-sm-offset-2 text-center picture-grid">
      <!-- Carousel/ Grid of pictures -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators / the dots below the carousel  -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <%= image_tag "BlackSandBeach.JPG", :class => "gallery-pix" %>
            <!-- <img src="assets/BlackSandBeach.JPG" alt="..." style="border-radius: 15px"> -->
            <div class="carousel-caption">
              Iceland - Black Sand Beach with Ice
            </div>
          </div>
          <div class="item">
            <%= image_tag "CassieIceBeach.JPG", :class => "gallery-pix" %>
            <!-- <img src="assets/CassieIceBeach.JPG" alt="..." style="border-radius: 15px"> -->
            <div class="carousel-caption">
              Wow - Big Ice
            </div>
          </div>
          <h2>Trotting Around The World</h2>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


    </div>
  </div>
  <%= render 'layouts/footer' %>
</div> 
  
<!--   
  <div class="masthead segment">
    <div class="ui page grid">
      <div class="column">
        <div class="introduction">
          <h1 class="ui inverted header">
            <span class="text">Gallery</span>
          </h1>
          <div class="ui hidden divider"></div>
        </div>
      </div>
    </div>
  </div> 
  -->
