<div class="container-fluid home">
  <%= render 'layouts/header' %>
  <div class="row vertical-center">
    <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-6 vertical-center" id="mytitle">
      <h2 class="title_des">Entrepreneur</h2>
      <h2 class="title_des">Digital Marketer</h2>
      <h2 class="title_des">Web Developer</h2>
      <h2 class="title_des">Jet Setter</h2>
      <h2 class="title_des">Dodgeball Player</h2>
      <h2 class="title_des">Event Planner</h2>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>