<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>HIHI</h1>
      <%= link_to "Link to Cassie Path", cassie_path %>
      <%= link_to "Link to Mathgame", mathgame_path %> 
      <%= link_to "Facebook", 'http://facebook.com' %>
    </div>
  </div>
</div>