<div class="container-fluid portfolio"> 
  <%= render 'layouts/header' %>
  <div class="row vertical-center">
    <div class="col-sm-8 col-sm-offset-2 text-center">

      <div class="minuspadding col-sm-3">
        <div class="outer mamahen">
          <div class="inner project">
            <p class="project-name">Startup -</br> mamahen.com.hk,</br> the ultimate gift registry</p>
            <a href="http://www.mamahen.com.hk/"><span class="emptyspan"></span></a>
          </div>
        </div>
      </div>

      <div class="minuspadding col-sm-3">
        <div class="outer shoppingcart">
          <div class="inner project">
            <p class="project-name">Javascript -</br> Simple Shopping Cart</p>
            <a href="http://sassy-simple-shopping-cart.bitballoon.com"><span class="emptyspan"></span></a>
          </div>
        </div>
      </div>

      <div class="minuspadding col-sm-3">
        <div class="outer mathgame">
          <div class="inner project">
            <p class="project-name">Javascript -</br> 10 Seconds of Math</p>
            <a href="http://sassy-math.bitballoon.com"><span class="emptyspan"></span></a>
          </div>
        </div>
      </div>

      <div class="minuspadding col-sm-3">
        <div class="outer reddit">
          <div class="inner project">
            <p class="project-name">Javascript -</br>Reddit</p>
            <a href="https://sassy-reddit.herokuapp.com/"><span class="emptyspan"></span></a>
          </div>
        </div>
      </div>

      <div class="minuspadding col-sm-3">
        <div class="outer highchart">
          <div class="inner project">
            <p class="project-name">Javascript -</br> Highchart Annotation</p>
            <a href="http://highchart-annotation.bitballoon.com/"><span class="emptyspan"></span></a>
          </div>
        </div>
      </div>

      <div class="minuspadding col-sm-3">
        <div class="outer siubobo">
          <div class="inner project">
            <p class="project-name">Ruby on Rails -</br> Baby Product Review</p>
            <a href="https://product-review.herokuapp.com/"><span class="emptyspan"></span></a>
          </div>
        </div>
      </div>

      <div class="minuspadding col-sm-3">
        <div class="outer mamahen">
          <div class="inner project">
            <p class="project-name">Project 2 -</br> Project 2</p>
            <a href="#"><span class="emptyspan"></span></a>
          </div>
        </div>
      </div>

      <div class="minuspadding col-sm-3">
        <div class="outer mamahen">
          <div class="inner project">
            <p class="project-name">Project 3 -</br> Project 3</p>
            <a href="#"><span class="emptyspan"></span></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <%= render 'layouts/footer' %> 
</div> 
