<div class="container-fluid portfolio"> 
  <%= render 'layouts/header' %>
  <div class="row vertical-center">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="col-sm-3">
        <a class="project" href="http://sassy-simple-shopping-cart.bitballoon.com" value=""><img src="jquerySimpleShoppingCart.png"></a>
      </div>
      <div class="col-sm-3">
        <a class="project" href="http://sassy-math.bitballoon.com" value=""><img src="javascriptAjax10SecOfMathGame.png"></a>
      </div>
      <div class="col-sm-3">
        <a class="project" href="http://sassy-simple-shopping-cart.bitballoon.com" value=""><img src="jquerySimpleShoppingCart.png"></a>
      </div>
      <div class="col-sm-3">
        <a class="project" href="http://sassy-simple-shopping-cart.bitballoon.com" value=""><img src="jquerySimpleShoppingCart.png"></a>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div> 