<div class="container-fluid travel">
  <%= render 'layouts/header' %>
  <div class="row vertical-center">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      
      <p style="text-align: center">
        <a href="http://matadornetwork.com/travel-map/bafcbe09f7c997fe1c8ce5e80ede3b81-1417534472" title="Cassie’s Travel Map">
          <img src="http://cdn1.matadornetwork.com/travel-maps/bafcbe09f7c997fe1c8ce5e80ede3b81-1417534472/my-travel-map.png" style="width: 100%; max-width: 100%" alt="Cassie’s Travel Map" />
        </a>
      </p>
<!--       <p>Cassie has been to: 
        <a href="/destinations/oceania/australia/">Australia</a>, 
        <a href="/destinations/europe/austria/">Austria</a>, 
        <a href="/destinations/caribbean/bahamas/">Bahamas</a>, 
        <a href="/destinations/europe/belgium/">Belgium</a>, 
        <a href="/destinations/asia/cambodia/">Cambodia</a>, 
        <a href="/destinations/north-america/canada/">Canada</a>, 
        <a href="/destinations/asia/china/">China</a>, 
        <a href="/destinations/europe/croatia/">Croatia</a>, 
        <a href="/destinations/europe/czech-republic/">Czech Republic</a>, 
        <a href="/destinations/africa/egypt/">Egypt</a>, 
        <a href="/destinations/europe/estonia/">Estonia</a>, 
        <a href="/destinations/europe/finland/">Finland</a>, 
        <a href="/destinations/europe/france/">France</a>, 
        <a href="/destinations/europe/germany/">Germany</a>, 
        <a href="/destinations/europe/gibraltar/">Gibraltar</a>, 
        <a href="/destinations/europe/greece/">Greece</a>, 
        <a href="/destinations/oceania/guam/">Guam</a>, 
        <a href="/destinations/asia/hong-kong/">Hong Kong</a>, 
        <a href="/destinations/europe/hungary/">Hungary</a>, 
        <a href="/destinations/europe/iceland/">Iceland</a>, 
        <a href="/destinations/asia/indonesia/">Indonesia</a>, 
        <a href="/destinations/middle-east/israel/">Israel</a>, 
        <a href="/destinations/europe/italy/">Italy</a>, 
        <a href="/destinations/asia/japan/">Japan</a>, 
        <a href="/destinations/asia/macao/">Macao</a>, 
        <a href="/destinations/asia/malaysia/">Malaysia</a>, 
        <a href="/destinations/africa/morocco/">Morocco</a>, 
        <a href="/destinations/europe/netherlands/">Netherlands</a>, 
        <a href="/destinations/asia/philippines/">Philippines</a>, 
        <a href="/destinations/europe/portugal/">Portugal</a>, 
        <a href="/destinations/europe/russia/">Russia</a>, 
        <a href="/destinations/asia/singapore/">Singapore</a>, 
        <a href="/destinations/asia/south-korea/">South Korea</a>, 
        <a href="/destinations/europe/spain/">Spain</a>, 
        <a href="/destinations/europe/switzerland/">Switzerland</a>, 
        <a href="/destinations/asia/taiwan/">Taiwan</a>, 
        <a href="/destinations/asia/thailand/">Thailand</a>, 
        <a href="/destinations/asia/tibet/">Tibet</a>, 
        <a href="/destinations/asia/turkey/">Turkey</a>, 
        <a href="/destinations/europe/united-kingdom/">United Kingdom</a>, 
        <a href="/destinations/north-america/united-states/">United States</a>, 
        <a href="/destinations/asia/vietnam/">Vietnam</a>
      </p> -->

    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>