$primary-background-color: rgba(229, 227, 223, 0.3); //gray
$secondary-background-color: orangered;
// $primary-font-color: rgba(255, 153, 0, 0.8);
$primary-font-color: white;
$secondary-font-color: $secondary-background-color;
$primary-border-color: red;
$hover-color: pink;
