$primary-background-color: rgba(229, 227, 223, 0.8); //gray
$secondary-background-color: orangered;
$primary-font-color: white;
$secondary-font-color: $secondary-background-color;
$primary-border-color: red;
$hover-color: pink;
