#map-canvas {
  width: 500px;
  height: 400px;
  width: 1440px;
  min-height: 462px;
  overflow: hidden;
  transform: translateZ(0px);
  top: 2.06473214285714px;
  background-color: rgb(229, 227, 223);
}

.myHome {

}

.mySchool{

}

.myBirthPlace {
  
}

.contact {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}