@import "color";

body{
  overflow-x: hidden;
}

.vertical-center {
  min-height: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

p{
  padding: 5px;
}

img{
  width: 100%;
  height: auto;
  display: block;
  position: relative
}

// Home Page Landing page
.home {
}

.title_des{
  // margin: 35px 0px;
}

#mytitle{
  font-family: 'Rock Salt', cursive;
  min-height: 500px;
  background-color: $primary-background-color;
  color: $primary-font-color;
  display: inline-block;
  text-align: center;
}

// About Page
#cassie{

}

// Blurb about myself
#aboutSquare{
  background-color: $primary-background-color;
  color: $primary-font-color;
  padding: 20px;
  position: relative;
  z-index: 8;
}





// Portfolio Page
#portfolio{
  background-color: $primary-background-color; 
  opacity: 0.9;
  min-height: 400px;
}

.portfolios-wrapper{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.minuspadding{
  padding-left: 0px;
  padding-right: 0px;
  z-index: 0;
}

div.outer{
  border-radius: 10px;
  z-index: 0;
  overflow: hidden;
  height: 250px;
  width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

div.inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  &:hover{
    border: solid 3px $primary-font-color;
    border-radius: 10px;
    background: black;
    opacity: 0.8;
    z-index: 1;
  }
}

.project-name{
  display: none;
  z-index: 2;
}

.inner:hover .project-name{
    display: block;
    color: $primary-font-color;
    font-weight: 30px;
    font-size: 20px;
    align-content: center center;
    margin-top: 80px;
}

.emptyspan{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-content: center;
}

.mamahen{
  background-image: image-url('mamahen.png');
  align-content: center;
}
.siubobo{
  background-image: image-url('siubobo.png');
}
.highchart{
  background-image: image-url('highchart.png');
}
.reddit{
  background-image: image-url('reddit.png');
  align-content: center center;
}
.mathgame{
  background-image: image-url('javascriptAjax10SecOfMathGame.png');
}
.shoppingcart{
  background-image: image-url('jquerySimpleShoppingCart.png');
}





// Contact Page
#map-canvas {
  // width: 500px;
  // height: 700px;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  transform: translateZ(0px);
  top: 2.06473214285714px;
  background-color: $primary-background-color;
  // position: absolute;
  // z-index: 0;
}

