@import "color";

// About Page Blurb about myself
#cassie{
  background-image: url("AuoraIceland.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: block;
  overflow-y: hidden;
  height: 85vh;
  // max-height: 800px;
  // min-height: 600px;
  // z-index: 6;
}

.aurora-pix{
  position: absolute;
  display: block;
  // z-index: 6;
  // max-height: 700px;
  // height: 100%;
  // overflow-y: hidden;
}

#aboutSquare{
  background-color: $primary-background-color;
  color: $primary-font-color;
  padding: 20px;
  position: relative;
  display: block;
  z-index: 8;
  margin: auto;
  max-width: 800px;
  min-width: 50vw;
  transform: translateZ(.3px) scale(.7) translateX(-10%) translateY(25%) rotate(-3deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

#aboutSquare > h1 {
  font-family: 'Frijole', cursive;
  font-size: 60px;
}

#photoOfTheDay{
  background-image: url("wdi6.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#photoOfTheDay > h1{
  color: $primary-font-color;
  position: absolute;
  font-family: 'Frijole', cursive;
  font-size: 40px;
  top: 2px;
  right: 2px;
}
