@import "color";

#footer {
  background-color: $secondary-background-color;
  padding: 20px 10px 30px 5px;
  font: white;
  font-family: 'Frijole', cursive;
  min-height: 200px;
}

.social {
  list-style-type: none;
}

.icon {
  display: inline-block;
  padding: 4px;
  
}

.iconicon{
  color: $primary-font-color;
  &:hover{
    color: $hover-color;
  }
}

.footline {
  display: block;
  margin: auto;
  color: $primary-font-color;
}

.contactinfo {
  list-style-type: none;
  text-align: right;
}

.info {
  display: inline-block;
  padding: 4px;
}

.email {
  font-size: 16px;
  display: inline-block;
  font-family: 'Frijole', cursive;
  color: $primary-font-color;
  &:hover{
    // text-decoration: none;
  }
}

i {
  padding-right: 3px;
}

a {
  text-decoration: none;
}

a:link {
  color: $primary-font-color;
  border-bottom: none;
}

i:link {
  color: $primary-font-color;
  border-bottom: none;
}

// Contact Page
html body #map-canvas {
  width: 100vw;
  overflow: hidden;
  transform: translateZ(0px);
  top: 2.06473214285714px;
  background-color: $primary-background-color;
}

.angular-google-map-container{
  height: 80vh;
}

