@import "color";
@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,400);

#gallery.slide{
  background-color: $primary-background-color;
  position: relative;
  display: block;
  padding: 0;
  text-align: center;
  min-height: 60vh;
}

#gallery > a > div {
  display: inline-block;
  font-family: 'Frijole', cursive;
  color: $secondary-font-color;
  font-size: 40px;
  transform: translateZ(.25px) scale(.75) translateX(10%) translateY(200%) rotate(0deg);
  padding: 10px;
  border-radius: 5px;
  background: $primary-background-color;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

#gallery > h1{
  margin-top: 0;
  padding-top: 50px;
  font-family: 'Frijole', cursive;
  font-size: 60px;
  color: $secondary-font-color;
}

#gallery > a > div.fun {
  transform: translateZ(.25px) scale(.75) translateX(10%) translateY(200%) rotate(0deg);
}

