@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,400);
/*font-family: 'Alex Brush', cursive;
font-family: 'Frijole', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Sancreek', cursive;*/
@import "color";

#fullbar{
  position: fixed;
  display: block;
  z-index: 10;
  // background-color: $secondary-background-color;
  width: 100vw;
  height: 15vh;
  min-height: 100px;

}

// the next block of Cassie touching ice on beach
#landing{
  display: block;
  position: relative;
  background-image: url("CassieIceBeach.jpg");
  background-size: cover;
  background-attachment: fixed;
  // height: 100vh;
}

#landing > div > img {
  // height: 100%;

}

// upper left hand corner CASSIE MAK
#myName{
  font-family: 'Rock Salt', cursive;
  font-size: 30px;
  font-style: bold;
  padding: 15px;
  color: $primary-font-color;
}

// upper right hand corner menu
#menu{
  font-family: 'Frijole', cursive;
  text-align: right;
  font-size: 16px;
  padding: 10px;
  color: $primary-font-color;
}

.topMenu{
  list-style-type: none;
  padding-top: 25px;
  padding-right: 10px;
}

.menuList{
  color: $primary-font-color;
  &:hover{
    text-decoration: none;
    color: $hover-color;
  }
}

.list{
  display: inline-block;
  padding: 4px;
}

list:link {
  color: $primary-font-color;
  border-bottom: none;
}

