@import "color";

html {
  height: 100%;
  overflow: hidden;
}

body{
  overflow-x: hidden;

  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.vertical-center {
  min-height: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

p{
  padding: 5px;
}

img{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.slide{
  position: relative;
  padding: 15vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}


