<div id='wrapper'>
  <div id='header'>
    <div id='header--container'>
      <h1 id='title'>
        Sweet and Simple Buttons
      </h1>
      <center>
        Easily create fun effects for your buttons
        <br>
        <small>
          Created by
          <a href='https://twitter.com/Shawn_Sauce' target='_blank'>Shawn G.</a>
        </small>
      </center>
      <div class='header--scroll-wrapper'>
        <a class='button red secondary-white animation-uncover-down' href='#colors'>
          <span>But Wait, There's More!</span>
        </a>
      </div>
    </div>
  </div>
  
  <div id='content'>
    <div class='container'>
      <section>
        <h1>
          <a name='colors'>Colors</a>
        </h1>
        <h2>
          Default
          <small>(No animation effects or secondary colors)</small>
        </h2>
        <div>
          <button class='grey'>
            <span>
              Grey Button
              <small>(default)</small>
            </span>
          </button>
          <button class='white'>
            <span>White Button</span>
          </button>
          <button class='red'>
            <span>Red Button</span>
          </button>
          <button class='orange'>
            <span>Orange Button</span>
          </button>
          <button class='yellow'>
            <span>Yellow Button</span>
          </button>
          <button class='green'>
            <span>Green Button</span>
          </button>
          <button class='blue'>
            <span>Blue Button</span>
          </button>
          <button class='dark-blue'>
            <span>Dark Blue Button</span>
          </button>
          <button class='purple'>
            <span>Purple Button</span>
          </button>
        </div>
        <h2>
          Secondary Colors
          <small>(No animation effects and default color)</small>
        </h2>
        <div>
          <button class='secondary-white'>
            <span>White Button</span>
          </button>
          <button class='secondary-red'>
            <span>Red Button</span>
          </button>
          <button class='secondary-orange'>
            <span>Orange Button</span>
          </button>
          <button class='secondary-yellow'>
            <span>Yellow Button</span>
          </button>
          <button class='secondary-green'>
            <span>Green Button</span>
          </button>
          <button class='secondary-blue'>
            <span>Blue Button</span>
          </button>
          <button class='secondary-dark-blue'>
            <span>Dark Blue Button</span>
          </button>
          <button class='secondary-purple'>
            <span>Purple Button</span>
          </button>
          <p>Mix and match colors to create sweet combinations</p>
          <button class='white secondary-purple'>
            <span>White Button</span>
          </button>
          <button class='red secondary-dark-blue'>
            <span>Red Button</span>
          </button>
          <button class='orange secondary-blue'>
            <span>Orange Button</span>
          </button>
          <button class='yellow secondary-green'>
            <span>Yellow Button</span>
          </button>
          <button class='green secondary-yellow'>
            <span>Green Button</span>
          </button>
          <button class='blue secondary-orange'>
            <span>Blue Button</span>
          </button>
          <button class='dark-blue secondary-red'>
            <span>Dark Blue Button</span>
          </button>
          <button class='purple secondary-white'>
            <span>Purple Button</span>
          </button>
          <p>
            <small>
              Eight of 28 combinations!
              <a href='#build-your-own'>Add more colors for more combinations!</a>
            </small>
          </p>
        </div>
      </section>
      <section>
        <h1>
          <a name='animations'>Animations</a>
        </h1>
        <div>
          <button class='grey animation-slide-down'>
            <span>Slide Down</span>
          </button>
          <button class='red animation-slide-up'>
            <span>Slide Up</span>
          </button>
          <button class='orange animation-slide-left'>
            <span>Slide Left</span>
          </button>
          <button class='yellow animation-slide-right'>
            <span>Slide Right</span>
          </button>
          <button class='green animation-zoom-in'>
            <span>Zoom In</span>
          </button>
          <button class='blue animation-zoom-out'>
            <span>Zoom Out</span>
          </button>
          <button class='dark-blue animation-uncover-up'>
            <span>Uncover Up</span>
          </button>
          <button class='purple animation-uncover-down'>
            <span>Uncover Down</span>
          </button>
          <p>Mix and match colors here to to create some cool animations</p>
          <button class='white secondary-purple animation-slide-down'>
            <span>Slide Down</span>
          </button>
          <button class='red secondary-dark-blue animation-slide-up'>
            <span>Slide Up</span>
          </button>
          <button class='orange secondary-blue animation-slide-left'>
            <span>Slide Left</span>
          </button>
          <button class='yellow secondary-green animation-slide-right'>
            <span>Slide Right</span>
          </button>
          <button class='green secondary-yellow animation-zoom-in'>
            <span>Zoom In</span>
          </button>
          <button class='blue secondary-orange animation-zoom-out'>
            <span>Zoom Out</span>
          </button>
          <button class='dark-blue secondary-red animation-uncover-up'>
            <span>Uncover Up</span>
          </button>
          <button class='purple secondary-white animation-uncover-down'>
            <span>Uncover Down</span>
          </button>
        </div>
      </section>
      <section>
        <h1>
          <a name='sizes'>Sizes</a>
        </h1>
        <div>
          <button class='largest'>
            <span>button.largest</span>
          </button>
          <button class='larger'>
            <span>button.larger</span>
          </button>
        </div>
        <div>
          <button class='large'>
            <span>button.large</span>
          </button>
          <button class='normal'>
            <span>button.normal</span>
          </button>
        </div>
        <div>
          <button class='small'>
            <span>button.small</span>
          </button>
          <button class='smaller'>
            <span>button.smaller</span>
          </button>
        </div>
        <div>
          <button class='smallest'>
            <span>button.smallest</span>
          </button>
        </div>
      </section>
      <section>
        <h1>
          <a name='how-to-use'>How to Use</a>
        </h1>
        <div class='grey'>
          <pre>&lt;button class=&quot;{color} {hover-color} {animation-type}&quot;&gt;&#x000A;  &lt;span&gt;Text Here&lt;/span&gt;&#x000A;&lt;/button&gt;</pre>
        </div>
      </section>
      <section>
        <h1>
          <a name='build-your-own'>Build Your Own</a>
        </h1>
        <h2>Colors</h2>
        Using SASS or SCSS add the following to the $button--colors map
        <div class='grey'>
          <pre>{color-name}: (&#x000A;    text: {text-color},&#x000A;    background: {background-color}&#x000A;)</pre>
        </div>
        <h2>Animations</h2>
        Using SASS or SCSS add the following to the $button--animations map
        <div class='grey'>
          <pre>{animation-name}: (&#x000A;  before: (&#x000A;    default: (&#x000A;      {default styles here}&#x000A;    ),&#x000A;    hover: (&#x000A;      {hover styles here}&#x000A;    )&#x000A;  ),&#x000A;  after: (&#x000A;    default: (&#x000A;      {default styles here}&#x000A;    ),&#x000A;    hover: (&#x000A;      {hover styles here}&#x000A;    )&#x000A;  )&#x000A;)</pre>
        </div>
        <h2>Sizes</h2>
        Using SASS or SCSS add the following to the $button--sizes map
        <div class='grey'>
          <pre>{size-name}: {size-value}</pre>
        </div>
        <div>
          <center>
            <small>
              Background image from wallpaperstock.net
            </small>
            <br>
            <small>
              Created by
              <a href='https://twitter.com/Shawn_Sauce' target='_blank'>Shawn G.</a>
            </small>
            <br>
            <small>
              <a href='http://codepen.io/ShawnSauce/pen/ogjaby' target='_blank'>permalink</a>
            </small>
          </center>
        </div>
      </section>
    </div>
  </div>
</div>