<body>
  <!-- <div>Angular baby</div> -->
  <!-- Nav Bar here -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-11 col-sm-4">
        <h1 id="myName">CASSIE MAK</h1>
      </div>
      <div class="col-xs-1 col-sm-8 nav navbar" id="menu">
        <ul class="topMenu">
          <li class="list"><a href="" class="menuList">HOME</a></li>
          <li class="list"><a href="" class="menuList">ABOUT</a></li>
          <li class="list"><a href="" class="menuList">PORTFOLIO</a></li>
          <li class="list"><a href="" class="menuList">GALLERY</a></li>
          <li class="list"><a href="" class="menuList">TRAVEL</a></li>
          <li class="list"><a href="" class="menuList">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Content -->
</body>
