<!-- <div id="gallerywrap"> -->
  <h1 class="pageTitle">Pictures Grid</h1>
  <div class="container-fluid allPicWrap">
    <div class="row" ng-repeat="photo in photos">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/CassieIceBeach.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/BlackSandBeach.jpg">
      <img src="assets/AuoraIceland.jpg">
    </div>
  </div>
<!-- </div> -->
