  <h1 class="pageTitle">Pictures Grid</h1>
  <div class="container-fluid allPicWrap">
    <div class="row" ng-repeat="photo in photos">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/CassieIceBeach.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/AuoraIceland.jpg">
      <img src="assets/BlackSandBeach.jpg">
      <img src="assets/AuoraIceland.jpg">
    </div>
  </div>

  <div onmouseover="rotateYDIV()" id="rotatey1" class="animated_div" style="transform: rotateY(180deg); -webkit-transform: rotateY(180deg);">
    3D rotate
function rotateYDIV()
{
y=document.getElementById("rotatey1")
clearInterval(rotYINT)
rotYINT=setInterval("startYRotate()",10)
}
  </div>
