<div class="container-fluid footer">
  <div class="row">
    <ul class="social">
      <li class="icon"><a href="https://github.com/cassiemak/"><i class="fa fa-github-square fa-2x"></i></a></li>
      <li class="icon"><a href="http://linkedin.com/in/cassiemak"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
      <li class="icon"><a href="http://facebook.com/cassiemak"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li class="icon"><a href="http://instagram.com/sassycassandra"><i class="fa fa-instagram fa-2x"></i></a></li>
      <li class="icon"><a href="https://plus.google.com/+CassandraMak/"><i class="fa fa-google-plus-square fa-2x"></i></i></a></li>
      <li class="icon"><a href="http://www.pinterest.com/cassandramak/"><i class="fa fa-pinterest-square fa-2x"></i></i></a></li>
      <li class="icon"><i class="fa fa-weixin fa-2x"></i></i></li>
      <li class="icon"><i class="fa fa-skype fa-2x"></i></i></li>
    </ul>
    <ul class="contactinfo">
      <li class="info"><i class="fa fa-envelope fa-2x"></i><div class="phone">  cassie.mak@gmail.com </div></li>
      <li class="info"><i class="fa fa-phone-square fa-2x"></i><div class="phone"> (852) 9777 1713 </div></li>
    </ul>
  </div>
</div>
