<div class="container-fluid footer">
  <div class="row">
    <span class="footline">
      <ul class="social col-sm-6">
        <li class="icon"><a href="https://github.com/cassiemak/" class="iconicon"><i class="fa fa-github-square fa-2x"></i></a></li>
        <li class="icon"><a href="http://linkedin.com/in/cassiemak" class="iconicon"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
        <li class="icon"><a href="http://facebook.com/cassiemak" class="iconicon"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        <li class="icon"><a href="http://instagram.com/sassycassandra" class="iconicon"><i class="fa fa-instagram fa-2x"></i></a></li>
        <li class="icon"><a href="https://plus.google.com/+CassandraMak/" class="iconicon"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
        <li class="icon"><a href="http://www.pinterest.com/cassandramak/" class="iconicon"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
        <li class="icon"><a href="https://dl.dropboxusercontent.com/u/7814617/cassie-skypeqrcode.png" class="iconicon"><i class="fa fa-weixin fa-2x"></i></a></li>
        <li class="icon"><a href="" class="iconicon"><i class="fa fa-skype fa-2x"></i></a></li>
      </ul>
    </span>
    <span class="footline">
    <ul class="contactinfo col-sm-6">
      <li class="info"><i class="fa fa-envelope fa-2x"></i><div class="phone"><%= mail_to "cassie.mak@gmail.com", "Email ", :class => "emailaddress" %></div></li>
      <li class="info"><i class="fa fa-phone-square fa-2x"></i><div class="phone"> (852) 9777 1713 </div></li>
    </ul>
    </span>
  </div>
</div>
