<!DOCTYPE html>
<html ng-app="cassie">
  <head>
    <title>Cassie Mak</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.jpg' %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Alex+Brush|Frijole|Rock+Salt|Sancreek' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  </head>

  <body ng-view>
    <h1>Cassie Mak =)</h1>
  </body>
</html>
