<!DOCTYPE html>
<html ng-app="cassie">
  <head>
    <title>Cassie Mak</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'logo.jpg' %>
    <link href='https://fonts.googleapis.com/css?family=Alex+Brush|Frijole|Rock+Salt|Sancreek' rel='stylesheet' type='text/css'>

    <script src='//maps.googleapis.com/maps/api/js?libraries=geometry&amp;sensor=false'></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61141025-1', 'auto');
      ga('send', 'pageview');
    </script>
    <%= csrf_meta_tags %>

  </head>

  <body ng-view>
    <h1>Cassie Mak =)</h1>
  </body>
</html>
